.final {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.final__wrapper {
    width: 900px;
    max-width: 1000px;
    margin: auto;
}

.final__conclusion {
    font-size: 22px;
    line-height: 26px;
    width: 380px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.final__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 30px;
}

.final__item {
    width: 160px;
}

.final__item:last-child {
    width: 220px;
}

.final__img {
    display: flex;
    width: 56px;
    margin: auto;
    position: relative;
    left: 50%;
    margin-left: -28px;
}

.final__number {
    display: block;
    margin: 0;
    margin-top: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: @color-red;
}

.final__description {
    margin: 0;
    margin-top: 8px;
}

.final__note {
    display: block;
    background: @color-red;
    border-radius: 5px;
    width: 290px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: absolute;
    color: white;
    font-weight: 500;
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: -58px;
    box-shadow: 0px 9px 10px rgba(254, 77, 74, 0.1);
    &:after  {
        content: '';
        position: absolute;
        margin-top: 27px;
        transform: rotate(45deg);
        width: 7px;
        height: 7px;
        background: @color-red;
    }
}

.final__note--close {
    display: none;
}

#final__bed {
    margin-top: -45px;
    &:after {
        margin-left: -120px;
    }
}

#final__deposit {
    margin-top:  -89px;
    &:after {
        margin-top: 33px;
        margin-left: -117px;
    }
}

#final__bank {
    margin-top: -163px;
    &:after {
        margin-top: 33px;
        margin-left: -4px;
    }
}

.final__href {
    color: white;
    text-decoration: none;
}

.final__interrogatory {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: @color-dark-pink;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    font-family: inherit;
    color: @color-red;
}

.final__interrogatory--open {
    background: @color-red;
    color: white;
}


@media (max-width: 900px) {
    .final__conclusion {
        width: 300px;
        margin: auto;
    }

    .final__wrapper {
        width: 320px;
    }

    .final__list {
      flex-direction: column;
      width: 220px;
      margin: auto;
      text-align: center;
    }

    .final__item {
        margin: auto;
        margin-top: 30px;
    }

    .final__note {
        width: 260px;
        margin-left: -78px
    }
    
    #final__bed {
        &:after {
            margin-left: -78px;
        }
    }

    #final__deposit {
        margin-left: -71px;
        margin-top: -106px;
        &:after {
            margin-left:0px;
        }
    }

    #final__bank {
        margin-left: -43px;
        margin-top: -181px;
        &:after {
            margin-left: 10px;
        }
    }
  }