.greeting {
  min-height: 100vh;
}
.greeting__wrapper {
  width: 900px;
  position: absolute;
  top: 50%;
  margin-top: -105px;
  left: 50%;
  margin-left: -450px;
}
.greeting__question {
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.greeting__answer {
  margin: 0;
  margin-top: 10px;
}
.greeting__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.greeting__number {
  font-weight: 500;
  white-space: nowrap;
}
.greeting__number:first-child {
  padding-right: 10px;
}
.greeting__number:last-child {
  text-align: right;
  padding-left: 10px;
}
.greeting__input {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  margin: auto;
  height: 9px;
  border-radius: 8px;
  background: #e2e2e2;
  outline: none;
  cursor: pointer;
}
.greeting__pointer {
  position: absolute;
  width: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -70px;
  margin-left: 69px;
  border-radius: 5px;
  background-color: #FE4D4A;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.greeting__pointer:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 19px;
  margin-left: -15px;
  background-color: #FE4D4A;
  transform: rotate(45deg);
}
.greeting__input-red {
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: -15px;
  margin-left: 70px;
  background: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);
  border-radius: 8px;
}
.greeting__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  border: 8px solid #fe4d4a;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.greeting__input::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  border: 8px solid #fe4d4a;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 900px) {
  .greeting__wrapper {
    width: 300px;
    margin-left: -150px;
  }
  .greeting__pointer {
    margin-left: 34px;
  }
  .greeting__input-red {
    margin-left: 34px;
  }
}
.final {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.final__wrapper {
  width: 900px;
  max-width: 1000px;
  margin: auto;
}
.final__conclusion {
  font-size: 22px;
  line-height: 26px;
  width: 380px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.final__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 30px;
}
.final__item {
  width: 145px;
}
.final__item:last-child {
  width: 215px;
}
.final__img {
  display: block;
  margin: auto;
}
.final__number {
  display: block;
  margin: 0;
  margin-top: 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FE4D4A;
}
.final__description {
  margin: 0;
  margin-top: 8px;
}
.final__note {
  display: none;
  background: #FE4D4A;
  border-radius: 5px;
  width: 290px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: absolute;
  color: white;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -58px;
  box-shadow: 0px 9px 10px rgba(254, 77, 74, 0.1);
}
.final__note:after {
  content: '';
  position: absolute;
  margin-top: 27px;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  background: #FE4D4A;
}
#final__bed {
  margin-top: -45px;
}
#final__bed:after {
  margin-left: -117px;
}
#final__deposit {
  margin-top: -82px;
}
#final__deposit:after {
  margin-left: -117px;
}
#final__bank {
  margin-top: -157px;
}
#final__bank:after {
  margin-left: -4px;
}
.final__interrogatory {
  cursor: pointer;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FEEBEF;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  font-family: inherit;
  color: #FE4D4A;
}
@media (max-width: 900px) {
  .final__conclusion {
    width: 300px;
    margin: auto;
  }
  .final__wrapper {
    width: 320px;
  }
  .final__list {
    flex-direction: column;
    width: 220px;
    margin: auto;
    text-align: center;
  }
  .final__item {
    margin: auto;
    margin-top: 30px;
  }
  .final__note {
    width: 260px;
    margin-left: -78px;
  }
  #final__bed:after {
    margin-left: -82px;
  }
  #final__deposit {
    margin-top: -102px;
  }
  #final__deposit:after {
    margin-left: -1px;
  }
  #final__bank {
    margin-left: -43px;
    margin-top: -176px;
  }
  #final__bank:after {
    margin-left: 9px;
  }
}
.average {
  background: #FEEBEF;
}
.average__display {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.average__answer {
  width: 300px;
  margin: auto;
}
.average__answer-circle {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FFF6F8;
}
.average__answer-img {
  display: block;
  margin: auto;
  padding-top: 60px;
}
.average__answer-number {
  display: block;
  padding-top: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FE4D4A;
}
.average__answer-description {
  margin: 0;
  margin-top: 9px;
}
.average__explanation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  margin-top: 40px;
}
.average__explanation {
  width: 190px;
  text-align: center;
}
.average__explanation-circle {
  width: 96px;
  height: 96px;
  margin: auto;
  border: 15px solid white;
  border-radius: 50%;
  background: #FEEBEF;
}
#average__explanation-50 {
  margin-left: 47px;
  margin-top: -30px;
}
#average__explanation-7 {
  margin-left: 35px;
  margin-top: -30px;
  margin-bottom: 10px;
}
.average__explanation-percent {
  display: block;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FE4D4A;
}
.average__explanation-description {
  margin: 0;
  margin-top: 9px;
}
.average__button {
  cursor: pointer;
  display: block;
  border: 0;
  outline: none;
  width: 330px;
  margin: auto;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FEEBEF;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  color: #FE4D4A;
}
.average__button-text {
  margin-right: 10px;
}
@media (max-width: 900px) {
  .average__explanation-wrapper {
    width: 320px;
    margin: auto;
    flex-direction: column;
  }
  .average__explanation {
    margin: auto;
    margin-top: 30px;
  }
  .average__button {
    width: 300px;
  }
}
.investments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.investments__question {
  font-weight: 500;
}
.investments__answer {
  display: block;
  width: 135px;
  background: #FE4D4A;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
}
@media (max-width: 900px) {
  .investments {
    width: 300px;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
}
